<div class="container-fluid">
    <div class="row">
        <!--Inicio dos KPI-->
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="icon-big icon-warning text-center">
                                <i class="ti-server"></i>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="numbers">
                                <p>C.R.I & Flococo (Kg)</p>
                                41.055
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-wallet"></i>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="numbers">
                                <p>Água de Coco (L)</p>
                                93.213
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-calendar"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-pulse"></i>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="numbers">
                                <p>Número de Fardos</p>
                                2.866
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-timer"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-twitter-alt"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Followers</p>
                                +45
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            <i class="ti-reload"></i> Updated now
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- Fim dos KPI -->

    <!-- <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Users Behavior</h4>
                    <p class="category">24 Hours performance</p>
                </div>
                <div class="content">
                    <div id="chartHours" class="ct-chart"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Click
                            <i class="fa fa-circle text-warning"></i> Click Second Time
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-reload"></i> Updated 3 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Email Statistics</h4>
                    <p class="category">Last Campaign Performance</p>
                </div>
                <div class="content">
                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Bounce
                            <i class="fa fa-circle text-warning"></i> Unsubscribe
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-timer"></i> Campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Produção Diária de Cocos</h4>
                    <p class="category">Abril de 2018</p>
                </div>
                <div class="content">
                    <div id="chartActivity" class="ct-chart"></div>

                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Cocos Processados
                            <i class="fa fa-circle text-warning"></i> Cocos Desfibrados
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="header-sococo">
        <span>SOCOCO</span>
    </div>
    <div class="line-separator"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Produção Diária de C.R.I & Flococo (KG) </h4>
                    <p class="category">Abril de 2018</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">ANO</button>
                                <button type="button" class="btn btn-default">MÊS</button>
                                <button type="button" class="btn btn-default">DIA</button>
                            </div>
                        </div>
                    </div>
                    <div id="CRIFlococoChart" class="ct-chart"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> C.R.I
                            <i class="fa fa-circle text-warning"></i> Flococo
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div>
    <div class="row"> -->
        <div class="col-md-6">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Produção Diária de Cocos (Und)</h4>
                    <p class="category">Abril de 2018</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">ANO</button>
                                <button type="button" class="btn btn-default">MÊS</button>
                                <button type="button" class="btn btn-default">DIA</button>
                            </div>
                        </div>
                    </div>
                    <div id="cocoChart" class="ct-chart"></div>

                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Cocos Processados
                            <i class="fa fa-circle text-warning"></i> Cocos Desfibrados
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Produção Diária de Óleo Insdustrial (L)</h4>
                    <p class="category">Abril de 2018</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">ANO</button>
                                <button type="button" class="btn btn-default">MÊS</button>
                                <button type="button" class="btn btn-default">DIA</button>
                            </div>
                        </div>
                    </div>
                    <div id="oleoChart" class="ct-chart"></div>

                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Óleo Insdustrial Tipo A
                            <i class="fa fa-circle text-warning"></i> Óleo Insdustrial E.T.E
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-acqua">
        <span>ACQUA</span>
    </div>
    <div class="line-separator"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Produção Diária de Água de Coco Sococo e Água de Coco Verde (L). </h4>
                    <p class="category">Abril de 2018</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">ANO</button>
                                <button type="button" class="btn btn-default">MÊS</button>
                                <button type="button" class="btn btn-default">DIA</button>
                            </div>
                        </div>
                    </div>
                    <div id="cocoSococoCocoVerdeChart" class="ct-chart"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Água de Coco Sococo
                            <i class="fa fa-circle text-warning"></i> Água de Coco Verde
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Produção Diária de Caixa Padrão (Und). </h4>
                    <p class="category">Abril de 2018</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">ANO</button>
                                <button type="button" class="btn btn-default">MÊS</button>
                                <button type="button" class="btn btn-default">DIA</button>
                            </div>
                        </div>
                    </div>
                    <div id="caixaPadraoChart" class="ct-chart"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Caixa Padrão
                            <i class="fa fa-circle text-warning"></i> ---
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Produção Diária de Coco Germinado (%). </h4>
                    <p class="category">Abril de 2018</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">ANO</button>
                                <button type="button" class="btn btn-default">MÊS</button>
                                <button type="button" class="btn btn-default">DIA</button>
                            </div>
                        </div>
                    </div>
                    <div id="cocoGerminadorChart" class="ct-chart"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Coco Germinado
                            <i class="fa fa-circle text-warning"></i> ---
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Total de Caçambas. </h4>
                    <p class="category">Abril de 2018</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">ANO</button>
                                <button type="button" class="btn btn-default">MÊS</button>
                                <button type="button" class="btn btn-default">DIA</button>
                            </div>
                        </div>
                    </div>
                    <div id="totolDeCacambasChart" class="ct-chart"></div>
                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Total de Caçambas
                            <i class="fa fa-circle text-warning"></i> ---
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-amafibra">
        <span>AMAFIBRA</span>
    </div>
    <div class="line-separator"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Produção Diária de Número de Fardos</h4>
                    <p class="category">Abril de 2018</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default">ANO</button>
                                <button type="button" class="btn btn-default">MÊS</button>
                                <button type="button" class="btn btn-default">DIA</button>
                            </div>
                        </div>
                    </div>
                    <div id="numeroFardosChart" class="ct-chart"></div>

                    <div class="footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-info"></i> Número de Fardos
                            <i class="fa fa-circle text-warning"></i> ------
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="ti-check"></i> 22/04/2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>